body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 360px;
}

.logo {
  display: block;
  margin: 0 auto; /* centers the image */
  width: 120px;
  height: auto;
  object-fit: contain;
}



h2 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

h2 span {
  font-size: 14px;
  color: #666;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
}

.inputbox ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #999;
  font-size: 20px;
}

.inputbox input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.inputbox input:focus {
  border-color: #0078d4;
}

.forgot {
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}

.forgot a {
  color: #0078d4;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #0047AB;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #003a93;
}
